<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconaaa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconaaa"
        android:supportsRtl="true"
        tools:targetApi="31" >
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="QQ,微信消息翻译插件,支持QQ8.9.63+和微信8.0.37+" />
        <meta-data
            android:name="xposedminversion"
            android:value="51" />
    </application>

</manifest>